<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liggiorgio.rumapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            android:theme="@style/AppTheme">
        <activity
                android:name=".SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".news.NewsActivity"
                android:label="@string/title_news">
        </activity>
        <activity
                android:name=".cats.CategoriesActivity"
                android:label="@string/title_categories"
                android:parentActivityName=".news.NewsActivity">
        </activity>
        <activity
                android:name=".about.AboutActivity"
                android:label="@string/title_about"
                android:parentActivityName=".news.NewsActivity">
        </activity>
        <activity
                android:name=".conts.ContactsActivity"
                android:label="@string/title_contacts"
                android:parentActivityName=".news.NewsActivity">
        </activity>
        <activity
                android:name=".places.PlacesActivity"
                android:label="@string/title_places"
                android:parentActivityName=".news.NewsActivity">
        </activity>
        <activity
                android:name=".help.HelpActivity"
                android:label="@string/title_help"
                android:parentActivityName=".news.NewsActivity">
        </activity>
        <activity
                android:name=".info.InfoActivity"
                android:label="@string/title_info"
                android:parentActivityName=".news.NewsActivity">
        </activity>
        <activity android:name=".reader.ReaderActivity">
        </activity>
    </application>

</manifest>